//Fargepaletten til arbeidskrav 3, hentet fra canva.com, link: https://www.canva.com/colors/color-palettes/salmon-sushi/

//Salmon Sushi fargepalleten: 

//babyblue = bakgrunnsfarge
//salmon  = headerfarge 
//aquamarine = arbeidslogfarge
//svart = tekstfarge

$babyblue: #E7F2F8; 
$aquamarine: #74BDCB; 
$salmon: #FFA384; 
$freesia: #EFE7BC; 
$black: #000000; 

