@use "./partials/colors";
@use "./partials/fonts";

#root {
    margin: 0 auto;
    width: 100%;  
    max-width: 1600px;
}

body {
    background-color: colors.$babyblue;
}

.member {
    padding: 1rem;

    &__grid {
        display: grid;
        grid-template-columns: repeat(4,  1fr);
        gap: 0;
    }
}

.profileCard {
    width: 100%;
    border-radius: 0px;
    padding: 0rem;
    background-color: #fff;
    color: #000;
    text-align: center;

    img {
        width: 60%;
        height: auto;
        margin-bottom: -100px;
    }
}

.work-log {
    h1 {
        color: colors.$black;
        font-family: fonts.$montserrat;
    }

    div {
        display: grid;

        ul {
            list-style: none;
            width: 100%;
            text-align: left;
            padding: .2rem 0;
            margin: 0;
            display: grid;
            grid-template-columns: .4fr .5fr 2fr .25fr;
    
            li {
                color: colors.$black;
                background-color: colors.$aquamarine;
                padding: 1rem;
                text-align: left;
                
            }

            //https://developer.mozilla.org/en-US/docs/Web/CSS/:nth-child
            li:nth-child(4n + 4) {
                text-align: right;
            }
        }
    
    }

}