@use "./partials/colors"; 
@use "./partials/fonts"; 

header {
    
    background-color: colors.$salmon;

    nav {

        ul {

            li {
                
                list-style-type: style none;
                font-size: 2rem; 
                font-family: fonts.$jersey;

            }

        }
        
        display: flex;
        flex-direction: row;
        color: colors.$black; 
        padding: 10px; 
        margin: 50px; 


    }

}

