@use "./partials/colors";
@use "./partials/fonts";

#root {
    margin: 0 auto;
    width: 100%;
    max-width: 1600px;
}

body {
    background-color: #fff
}

.profilePage {
    width: 80%;
    max-width: 1600px;
    background-color: #fff;
    color: #000;
    padding: 5rem;

    &__container {
        display: flex;
        align-items: flex-start;
        gap: 2rem;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__image {
        width: 400px;
        height: 600px;
    }

    &__info {
        max-width: 600px;
        max-height: 300px;
        text-align: left;

        h2 {
            margin-top: 0;
            font-size: 2rem;
        }

        p {
            margin: 1rem 0;
            line-height: 1.5;
        }

        h3 {
            
            margin-top: 2rem;
            font-size: 1.3rem;
        }

        ul {
            list-style-type: disc;
            padding-left: 1.5rem;
        }
    }

    h3 {
        margin-top: 3rem;
        text-align: left;
        font-size: 1.5rem;
    }
}